/** preloader **/

.test-wrapper {
    margin: 1rem 0rem;
    background: white;
}
.loading-skeleton {
    margin: 0rem 0rem 5rem 0rem;
}
.card__loading {
    border: 0px;
    box-shadow: 0 0 2px rgb(0 0 0 / 18%), 0 1px 3px rgb(0 0 0 / 12%);
}
.test {
    position: relative;
    background-position: 5.25rem 2.25rem, 5.25rem 4.25rem, 5.25rem 6.25rem,
        5.25rem 8.25rem, 5.25rem 10.25rem;
    background-size: 40% 100%, 0 100%, 70% 100%, 80% 100%, 30% 100%;
    animation: loading 2s infinite;
    background-repeat: repeat-y;
    background-image: linear-gradient(#ddd 1rem, transparent 0),
        linear-gradient(#ddd 1rem, transparent 0),
        linear-gradient(#ddd 1rem, transparent 0),
        linear-gradient(#ddd 1rem, transparent 0),
        linear-gradient(#ddd 1rem, transparent 0);
    height: 14rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.18), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.test::before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1.25rem;
    top: 1.25rem;
    border-radius: 624.9375rem;
    background: #ddd;
}

@keyframes loading {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.preloader {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
}

.status {
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.svg__loading {
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 0.9s linear infinite;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}
